Finding implied volatility with the following parameters on SPY:

Today: Sep 27, 2018

Spot price: 290.68

Maturity: Dec 31, 2018

Strike: 288

rate: 0.02 (from https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield)

Call price = 9.23

In [1]:
import pandas as pd
import numpy as np

In [34]:
Today = pd.to_datetime('20180927')
Maturity = pd.to_datetime('20181231')
T = (Maturity - Today).days/365 #time to maturity
K = 288.
r = .02
Call = 9.23
T

0.2602739726027397

In [27]:
dict = { 'Date' : '20180927',
        'Strike': [288.0],
        'Call': 9.23,
        'Maturity': 288.        
       }
df1 = pd.DataFrame(dict)
df1['Date'] = pd.to_datetime(df1['Date'])

In [28]:
df1

   Call       Date  Maturity  Strike
0  9.23 2018-09-27     288.0   288.0